@import url(https://fonts.googleapis.com/css?family=Pixelify+Sans:regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
}

body {
  background-color: #000000;
  font-family: 'Urbanist', sans-serif;
}

div.tp-dfwv {
  width: 320px;
  z-index: 100;
}

.container {
  position: relative;
  height: 100vh;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  background: linear-gradient(180deg, #050505 0%, rgba(5, 5, 5, 0) 100%);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.content p {
  font-size: 1.5rem;
  color: #838383;

}

.content h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: white;
}

.content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid #838383;
  transition: 0.5s;
}